*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 25px;
    border-radius: 15px;
    max-width: 300px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.6);
    pointer-events: none;
}

button{
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    border: 2px solid transparent;
}

.popup :is(header, .icons, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d1d1;
}

header span{
    font-size: 21px;
    font-weight: 600;
}

header .close, .icons, a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

header .close{
    height: 33px;
    width: 33px;
    color: #878787;
    background: #f2f3fb;
    cursor: pointer;
}

.popup .content{
    margin: 20px 0;
}